.About-me {
  max-width: 1040px;
  position: relative;
  left: 290px;
  top: 300px;
  overflow: hidden;
}
.About-me h1 {
  font-size: 155px;
  opacity: 70%;
  color: #b2bbbf;
}
.About-me h5 {
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 400;
  width: 880px;
  position: relative;
  bottom: 425px;
  left: 120px;
}
@media only screen and (max-width: 600px) {
  .About-me {
    left: 0px;
    top: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .About-me h1 {
    font-size: 50px;
  }
  .About-me h5 {
    font-size: 15px;
    left: 0px;
    bottom: 30px;
    width: 300px;
  }
}
